body{
    background-color: #154167;
    color: #f6c4df;
    font-family: 'Diphylleia', serif;
}

p{
    color: #9bcfea;
    font-family: 'Diphylleia', serif;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo{
    color: #c671ba;
    text-align: center;
    font-size: 100px;
}

menu{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

img{
    width: 50%;
    display: flex;
    margin-left: 25%;
}

a{
    color: aqua;
}